@model ScoutUp.Models.User
@Html.Partial("~/Views/Shared/header.cshtml")
    <div id="page-contents">
    	<div class="container">
    		<div class="row">

         <!--Left Side-->
                @Html.Partial("~/Views/Shared/leftside.cshtml")

		        <!-- Post Create Box
		        ================================================= -->
		        @Html.Partial("~/Views/Shared/PostCreateBox.cshtml")
            <!-- Post Create Box End-->

            <!-- Post Content
            ================================================= -->
		        <div class="post-content">
		            <img src="../../images/post-../../images/1.jpg" alt="post-image" class="img-responsive post-image" />
		            <div class="post-container">
		                <img src="../../images/users/user-5.jpg" alt="user" class="profile-photo-md pull-left" />
		                <div class="post-detail">
		                    <div class="user-info">
		                        <h5><a href="timeline.html" class="profile-link">Alexis Clark</a> <span class="following">following</span></h5>
		                        <p class="text-muted">Published a photo about 3 mins ago</p>
		                    </div>
		                    <div class="reaction">
		                        <a class="btn text-green"><i class="icon ion-thumbsup"></i> 13</a>
		                        <a class="btn text-red"><i class="fa fa-thumbs-down"></i> 0</a>
		                    </div>
		                    <div class="line-divider"></div>
		                    <div class="post-text">
		                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. <i class="em em-anguished"></i> <i class="em em-anguished"></i> <i class="em em-anguished"></i></p>
		                    </div>
		                    <div class="line-divider"></div>
		                    <div class="post-comment">
		                        <img src="../../images/users/user-11.jpg" alt="" class="profile-photo-sm" />
		                        <p><a href="timeline.html" class="profile-link">Diana </a><i class="em em-laughing"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud </p>
		                    </div>
		                    <div class="post-comment">
		                        <img src="../../images/users/user-4.jpg" alt="" class="profile-photo-sm" />
		                        <p><a href="timeline.html" class="profile-link">John</a> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud </p>
		                    </div>
		                    <div class="post-comment">
		                        <img src="@Model.UserProfilePhoto" alt="" class="profile-photo-sm" />
		                        <input type="text" class="form-control" placeholder="Post a comment">
		                    </div>
		                </div>
		            </div>
		        </div>
                </div>
          <!-- Right side-->
            @Html.Partial("~/Views/Shared/rightside.cshtml")
    		</div>
    	</div>
    </div>

   <!--Footer-->
    @Html.Partial("~/Views/Shared/footer.cshtml")

    <script type="text/javascript" src="../../js/right-side.js"></script>
<script>
    function refreshUsersFollowing() {
        var url = "@(Html.Raw(Url.Action("usersFollowers", "Home")))";
        $.get(url, function (e) {
            $("#follower-count").text(e + " Takipçi")
        });
        setInterval(function () {
            var url = "@(Html.Raw(Url.Action("usersFollowers", "Home")))";
            $.get(url, function (e) {
                $("#follower-count").text(e + " Takipçi")
            });
        }, 30000); ///Refreshes every 30 seconds

        $.ajaxSetup({ cache: false });  //Turn off caching
    }; refreshUsersFollowing();
</script>
<script>
    /* var input = $('input', $('.profile-pic'));
     input.change(function (e) {
         var img = e.target.files[0];
         $.post("/users/UpdateProfilePhoto",
             img,
             function (e) {
                 if (e == 1) {
                     alert("success");
                 } else {
                     alert("fail");
                 }
             });
     });*/
</script>
<script>
    $('#userPost').submit(function(evt) {
        var $file = document.getElementById('postImage'),
            $formData = new FormData();
        var text = $('#postText').val();
        $formdata.append("postText", text);
        if ($file.files.length > 0) {
            for (var i = 0; i < $file.files.length; i++) {
                $formData.append('file-' + i, $file.files[i]);
            }
        }
        $.ajax({
            url: '/post/addpost',
            type: 'POST',
            data: $formData,
            datatype: "multipart/form-data",
            processData: false,
            contentType: false,
            success: function($data) {
                if ($data == 1)
                    location.reload();
                else
                    alert("Post gönderilemedi");
            }
        });
    });
</script>
