<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="This is social network html5 template available in themeforest......" />
		<meta name="keywords" content="Social Network, Social Media, Make Friends, Newsfeed, Profile Page" />
		<meta name="robots" content="index, follow" />
		<title>Friend Finder | A Complete Social Network Template</title>

    <!-- Stylesheets
    ================================================= -->
		<link rel="stylesheet" href="../../css/bootstrap.min.css" />
		<link rel="stylesheet" href="../../css/style.css" />
		<link rel="stylesheet" href="../../css/ionicons.min.css" />
	    <link rel="stylesheet" href="../../css/font-awesome.min.css" />
	    <link rel="stylesheet" href="../../css/parsley.css" />
    
    <!--Google Font-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,700i" rel="stylesheet">
    
    <!--Favicon-->
    <link rel="shortcut icon" type="image/png" href="../../images/fav.png"/>
	</head>
	<body>

    <!-- Header
    ================================================= -->
		<header id="header-inverse">
      <nav class="navbar navbar-default navbar-fixed-top menu">
        <div class="container">

          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index-register.html"><img src="../../images/logo.png" alt="logo" /></a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right main-menu">
              <li class="dropdown">
                <a href="index-register.html#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Home <span><img src="../../images/down-arrow.png" alt="" /></span></a>
                  <ul class="dropdown-menu newsfeed-home">
                    <li><a href="index.html">Landing Page 1</a></li>
                    <li><a href="index-register.html">Landing Page 2</a></li>
                  </ul>
              </li>
              <li class="dropdown">
                <a href="index-register.html#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Newsfeed <span><img src="../../images/down-arrow.png" alt="" /></span></a>
                  <ul class="dropdown-menu newsfeed-home">
                    <li><a href="newsfeed.html">Newsfeed</a></li>
                    <li><a href="newsfeed-people-nearby.html">Poeple Nearly</a></li>
                    <li><a href="newsfeed-friends.html">My friends</a></li>
                    <li><a href="newsfeed-messages.html">Chatroom</a></li>
                    <li><a href="newsfeed-../../images.html">../../images</a></li>
                    <li><a href="newsfeed-videos.html">Videos</a></li>
                  </ul>
              </li>
              <li class="dropdown">
                <a href="index-register.html#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Timeline <span><img src="../../images/down-arrow.png" alt="" /></span></a>
                <ul class="dropdown-menu login">
                  <li><a href="timeline.html">Timeline</a></li>
                  <li><a href="timeline-about.html">Timeline About</a></li>
                  <li><a href="timeline-album.html">Timeline Album</a></li>
                  <li><a href="timeline-friends.html">Timeline Friends</a></li>
                  <li><a href="edit-profile-basic.html">Edit: Basic Info</a></li>
                  <li><a href="edit-profile-work-edu.html">Edit: Work</a></li>
                  <li><a href="edit-profile-interests.html">Edit: Interests</a></li>
                  <li><a href="edit-profile-settings.html">Account Settings</a></li>
                  <li><a href="edit-profile-password.html">Change Password</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="index-register.html#" class="dropdown-toggle pages" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">All Pages <span><img src="../../images/down-arrow.png" alt="" /></span></a>
                <ul class="dropdown-menu page-list">
                  <li><a href="index.html">Landing Page 1</a></li>
                  <li><a href="index-register.html">Landing Page 2</a></li>
                  <li><a href="newsfeed.html">Newsfeed</a></li>
                  <li><a href="newsfeed-people-nearby.html">Poeple Nearly</a></li>
                  <li><a href="newsfeed-friends.html">My friends</a></li>
                  <li><a href="newsfeed-messages.html">Chatroom</a></li>
                  <li><a href="newsfeed-../../images.html">../../images</a></li>
                  <li><a href="newsfeed-videos.html">Videos</a></li>
                  <li><a href="timeline.html">Timeline</a></li>
                  <li><a href="timeline-about.html">Timeline About</a></li>
                  <li><a href="timeline-album.html">Timeline Album</a></li>
                  <li><a href="timeline-friends.html">Timeline Friends</a></li>
                  <li><a href="edit-profile-basic.html">Edit Profile</a></li>
                  <li><a href="contact.html">Contact Us</a></li>
                  <li><a href="faq.html">FAQ Page</a></li>
                  <li><a href="404.html">404 Not Found</a></li>
                </ul>
              </li>
              <li class="dropdown"><a href="contact.html">Contact</a></li>
            </ul>
            <form class="navbar-form navbar-right hidden-sm">
              <div class="form-group">
                <i class="icon ion-android-search"></i>
                <input type="text" class="form-control" placeholder="Search friends, photos, videos">
              </div>
            </form>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
      </nav>
    </header>
    <!--Header End-->
    
    <!-- Landing Page Contents
    ================================================= -->
    <div id="lp-register">
    	<div class="container wrapper">
        <div class="row">
        	<div class="col-sm-5">
            <div class="intro-texts">
            	<h1 class="text-white">Make Cool Friends !!!</h1>
            	<p>Friend Finder is a social network template that can be used to connect people. The template offers Landing pages, News Feed, Image/Video Feed, Chat Box, Timeline and lot more. <br /> <br />Why are you waiting for? Buy it now.</p>
              <button class="btn btn-primary">Learn More</button>
            </div>
          </div>
        	<div class="col-sm-6 col-sm-offset-1">
            <div class="reg-form-container"> 
            
              <!-- Register/Login Tabs-->
              <div class="reg-options">
                <ul class="nav nav-tabs">
                  <li class="active" id="register_pane" name="register_pane"><a href="index-register.html#register" data-toggle="tab">Register</a></li>
                  <li id="login_pane" name="login_pane"><a href="index-register.html#login" data-toggle="tab">Login</a></li>
                </ul><!--Tabs End-->
              </div>
              
              <!--Registration Form Contents-->
              <div class="tab-content">
                <div class="tab-pane active" id="register">
                  <h3>Register Now !!!</h3>
                  <p class="text-muted">Be cool and join today. Meet millions</p>
                  
                  <!--Register Form-->
                  <form id="register_form" action='@Url.Content("~/users/create")' method="post" novalidate="novalidate" class="form-inline">
                    @Html.AntiForgeryToken()
                    <div class="row">
                      <div class="form-group col-xs-6">
                        <label for="firstname" class="sr-only">Ad</label>
                          <input class="form-control input-group-lg" type="text" id="UserName" name="UserName" title="Enter first name"
                                 required data-errormessage-value-missing="Lütfen geçerli bir email adresi girin!" data-errormessage-type-mismatch="Invalid!" placeholder="Adınız"/>
                      </div>
                      <div class="form-group col-xs-6">
                        <label for="lastname" class="sr-only">Soyad</label>
                          <input  class="form-control input-group-lg" type="text" id="UserSurname" name="UserSurname" title="Enter last name" 
                                  required data-errormessage-value-missing="Lütfen geçerli bir email adresi girin!" data-errormessage-type-mismatch="Invalid!" placeholder="Soyadınız"/>
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-xs-12">
                        <label for="email" class="sr-only">Email</label>
                          <input class="form-control input-group-lg" type="email"  id="UserEmail" name="UserEmail" title="Enter Email" 
                                 required data-errormessage-value-missing="Lütfen geçerli bir email adresi girin!" data-errormessage-type-mismatch="Invalid!" placeholder="Email"/>
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-xs-12">
                        <label for="password" class="sr-only">Şifre</label>
                          <input class="form-control input-group-lg" type="password" id="UserPassword" name="UserPassword" title="Enter password"
                                 required data-errormessage-value-missing="Lütfen geçerli bir email adresi girin!" data-errormessage-type-mismatch="Invalid!" placeholder="Şifre"/>
                      </div>
                    </div>
                    <div class="row">
                      <p class="birth"><strong>Doğum Tarihi</strong></p>
                      <div class="col-xs-8">
                          <input type="datetime" class="form-control" id="UserBirthDate" name="UserBirthDate" 
                                 required data-errormessage-value-missing="Lütfen geçerli bir email adresi girin!" data-errormessage-type-mismatch="Invalid!" placeholder="Doğum Tarihiniz GG.AA.YYYY">
                      </div>
                    </div>
                  <div class="form-group gender">
                      <label for="UserGender" class="sr-only">Cinsiyet</label>
                      <select class="form-control" data-val="true" data-val-required="UserGender alanı gereklidir." id="UserGender" name="UserGender"><option selected="selected" value="0">Erkek</option>
                          <option value="1">Kadın</option>
                      </select>
                  </div>
                    <div class="row">
                      <div class="form-group col-xs-6">
                        <label for="city" class="sr-only">Şehir</label>
                          <input class="form-control input-group-lg reg_name" type="text" id="UserCity" name="UserCity" title=""
                                 required data-errormessage-value-missing="Lütfen geçerli bir email adresi girin!" data-errormessage-type-mismatch="Invalid!" placeholder=""/>
                      </div>
                        <div class="row">
                            <div class="form-group col-xs-12">
                                <label for="my-info">Hakkımda</label>
                                <textarea id="UserAbout" name="UserAbout" class="form-control" placeholder="Kendinizi tanıtın"></textarea>
                            </div>
                        </div>
                    </div>
                      <button class="btn btn-primary">Kayıt</button>
                  </form><!--Register Now Form Ends-->
                  <p><a href="/home/">Zeten bir hesabınız mı var?</a></p>
                 
                </div><!--Registration Form Contents Ends-->
                
                <!--Login-->
                <div class="tab-pane" id="login">
                  <h3>Login</h3>
                  <p class="text-muted">Log into your account</p>
                  
                  <!--Login Form-->
                  <form name="login_form" id='login_form' action='@Url.Content("~/users/login")' method="post">
                     <div class="row">
                      <div class="form-group col-xs-12">
                        <label for="email" class="sr-only">Email</label>
                          <input id="email" class="form-control input-group-lg" type="text" name="email" title="Enter Email"  
                                 required data-errormessage-value-missing="Lütfen geçerli bir email adresi girin!" data-errormessage-type-mismatch="Invalid!" placeholder="Email"/>
                      </div>
                    </div>
                      <div class="row">
                          <div class="form-group col-xs-12">
                              <label for="password" class="sr-only">Password</label>
                              <input id="password" class="form-control input-group-lg" type="password" name="password" title="Enter password"  
                                     required data-errormessage-value-missing="Lütfen geçerli bir şifre girin!" data-errormessage-type-mismatch="Invalid!" placeholder="Şifre" />
                          </div>
                      </div>
                      @Html.Hidden("returnUrl", @Request.QueryString)
                      <button class="btn btn-primary">Login Now</button>
                  </form><!--Login Form Ends--> 
                  <p><a href="index-register.html#">Forgot Password?</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-sm-offset-6">
          
            <!--Social Icons-->
            <ul class="list-inline social-icons">
              <li><a href="index-register.html#"><i class="icon ion-social-facebook"></i></a></li>
              <li><a href="index-register.html#"><i class="icon ion-social-twitter"></i></a></li>
              <li><a href="index-register.html#"><i class="icon ion-social-googleplus"></i></a></li>
              <li><a href="index-register.html#"><i class="icon ion-social-pinterest"></i></a></li>
              <li><a href="index-register.html#"><i class="icon ion-social-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!--preloader-->
    <div id="spinner-wrapper">
      <div class="spinner"></div>
    </div>
    
    <!--Buy button-->
    <a href="https://themeforest.net/cart/add_items?item_ids=18711273&ref=thunder-team" target="_blank" class="btn btn-buy"><span class="italy">Buy with:</span><img src="../../images/envato_logo.png" alt="" /><span class="price">Only $20!</span></a>

    <!-- Scripts
    ================================================= -->
    <script src="../../js/jquery-3.1.1.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/jquery.appear.min.js"></script>
	<script src="../../js/jquery.incremental-counter.js"></script>
	<script src="../../js/script.js"></script>
	<script src="../../js/parsley.js"></script>
	<script type="text/javascript">
	    $('#register_form').parsley();
	      $(function () {
	          $("#register_form").submit(function (evt) {
	              if($('#register_form').parsley().validationResult){
	           evt.preventDefault();
	          var url = $(this).attr('action');
	           var postData = $(this).serialize();

	        $.post(url, postData, function (o) {

	             if (o.Result == 1) {
	                  alert('kayıt başarılı');
	                  $("#register_pane").removeClass("active");
	                 $("#login_pane").addClass("active");
	                  $("#register").removeClass("active");
	                 $("#login").addClass("active");
	              }
	             else if (o.Result == 0) {
	                 alert('Kayıt başarısız');
	             } else {
	                 $("#UserEmail").removeClass("parsley-success");
	                 $("#UserEmail").addClass("parsley-error");
	                 alert(o);
	             }
	         }, 'json');
                      }
	              });
	     });
	</script>
	</body>

</html>
