<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="This is social network html5 template available in themeforest......" />
		<meta name="keywords" content="Social Network, Social Media, Make Friends, Newsfeed, Profile Page" />
		<meta name="robots" content="index, follow" />
		<title>Friend Finder | A Complete Social Network Template</title>

    <!-- Stylesheets
    ================================================= -->
		<link rel="stylesheet" href="../../css/bootstrap.min.css" />
		<link rel="stylesheet" href="../../css/style.css" />
		<link rel="stylesheet" href="../../css/ionicons.min.css" />
	    <link rel="stylesheet" href="../../css/font-awesome.min.css" />
	    <link rel="stylesheet" href="../../css/parsley.css" />
	    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    
    <!--Google Font-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,700i" rel="stylesheet">
    
    <!--Favicon-->
    <link rel="shortcut icon" type="image/png" href="../../images/fav.png"/>
	</head>
	<body>

    <!-- Header
    ================================================= -->
    <!--Header End-->
    
    <!-- Landing Page Contents
    ================================================= -->
    <div id="lp-register">
    	<div class="container wrapper">
        <div class="row">
        	<div class="col-sm-5">
	            <div class="intro-texts">
            </div>
          </div>
        	<div class="col-sm-6 col-sm-offset-1">
            <div class="reg-form-container"> 
            
              <!-- Register/Login Tabs-->
              <div class="reg-options">
                <ul class="nav nav-tabs">
                  <li class="active" id="register_pane" name="register_pane"><a href="index-register.html#register" data-toggle="tab">Kayıt Ol</a></li>
                  <li id="login_pane" name="login_pane"><a href="index-register.html#login" data-toggle="tab">Giriş</a></li>
                </ul><!--Tabs End-->
              </div>
              
              <!--Registration Form Contents-->
              <div class="tab-content">
                <div class="tab-pane active" id="register">
                  <h3>Kayıt Ol</h3>
                  
                  <!--Register Form-->
                  <form id="register_form" action='@Url.Content("~/users/create")' method="post" novalidate="novalidate" class="form-inline">
                    @Html.AntiForgeryToken()
                      <div class="row">
                      <div class="form-group col-xs-12">
                          <label for="UserName" class="sr-only">Kullanıcı Adı</label>
                          <input class="form-control input-group-lg" id="UserName" name="UserName" title="Kullanıcı Adı" 
                                 required data-errormessage-value-missing="Lütfen geçerli bir email adresi girin!" data-errormessage-type-mismatch="Invalid!" placeholder="Kullanıcı Adı"/>
                      </div>
                      </div>
                    <div class="row">
                      <div class="form-group col-xs-6">
                        <label for="firstname" class="sr-only">Ad</label>
                          <input class="form-control input-group-lg" type="text" id="UserFirstName" name="UserFirstName" title="Enter first name"
                                 required data-errormessage-value-missing="Lütfen geçerli bir email adresi girin!" data-errormessage-type-mismatch="Invalid!" placeholder="Adınız"/>
                      </div>
                      <div class="form-group col-xs-6">
                        <label for="lastname" class="sr-only">Soyad</label>
                          <input  class="form-control input-group-lg" type="text" id="UserSurname" name="UserSurname" title="Enter last name" 
                                  required data-errormessage-value-missing="Lütfen geçerli bir email adresi girin!" data-errormessage-type-mismatch="Invalid!" placeholder="Soyadınız"/>
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-xs-12">
                        <label for="email" class="sr-only">Email</label>
                          <input class="form-control input-group-lg" type="email"  id="UserEmail" name="UserEmail" title="Enter Email" 
                                 required data-errormessage-value-missing="Lütfen geçerli bir email adresi girin!" data-errormessage-type-mismatch="Invalid!" placeholder="Email"/>
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-xs-12">
                        <label for="password" class="sr-only">Şifre</label>
                          <input class="form-control input-group-lg" type="password" id="UserPassword" name="UserPassword" title="Enter password"
                                 required data-errormessage-value-missing="Lütfen geçerli bir email adresi girin!" data-errormessage-type-mismatch="Invalid!" placeholder="Şifre"/>
                      </div>
                    </div>
                    <div class="row">
                      <p class="birth"><strong>Doğum Tarihi</strong></p>
                      <div class="col-xs-8">
                          <input type="text" class="form-control" id="UserBirthDate" name="UserBirthDate" 
                                 required data-errormessage-value-missing="Lütfen geçerli bir email adresi girin!" data-errormessage-type-mismatch="Invalid!" placeholder="Doğum Tarihiniz">
                      </div>
                    </div>
                  <div class="form-group gender">
                      <label for="UserGender" class="sr-only">Cinsiyet</label>
                      <select class="form-control" data-val="true" data-val-required="UserGender alanı gereklidir." id="UserGender" name="UserGender"><option selected="selected" value="0">Erkek</option>
                          <option value="1">Kadın</option>
                      </select>
                  </div>
                    <div class="row">
                      <div class="form-group col-xs-6">
                        <label for="city" class="sr-only">Şehir</label>
                          <input class="form-control input-group-lg reg_name" type="text" id="UserCity" name="UserCity" title=""
                                 required data-errormessage-value-missing="Lütfen geçerli bir email adresi girin!" data-errormessage-type-mismatch="Invalid!" placeholder="Şehir"/>
                      </div>
                        <div class="row">
                            <div class="form-group col-xs-12">
                                <label for="my-info">Hakkımda</label>
                                <textarea id="UserAbout" name="UserAbout" class="form-control" placeholder="Kendinizi tanıtın"></textarea>
                            </div>
                        </div>
                    </div>
                      <button class="btn btn-primary">Kayıt</button>
                  </form><!--Register Now Form Ends-->
                  <p><a href="/home/">Zeten bir hesabınız mı var?</a></p>
                 
                </div><!--Registration Form Contents Ends-->
                
                <!--Login-->
                <div class="tab-pane" id="login">
                  <h3>Login</h3>
                  <p class="text-muted">Log into your account</p>
                  
                  <!--Login Form-->
                  <form name="login_form" id='login_form' action='@Url.Content("~/users/login")' method="post">
                     <div class="row">
                      <div class="form-group col-xs-12">
                        <label for="email" class="sr-only">Email</label>
                          <input id="email" class="form-control input-group-lg" type="text" name="loginEmail" title="Enter Email"  
                                 required data-errormessage-value-missing="Lütfen geçerli bir kullanıcı adı girin!" data-errormessage-type-mismatch="Invalid!" placeholder="Kullanıcı Adı"/>
                      </div>
                    </div>
                      <div class="row">
                          <div class="form-group col-xs-12">
                              <label for="password" class="sr-only">Password</label>
                              <input id="password" class="form-control input-group-lg" type="password" name="loginPassword" title="Enter password"  
                                     required data-errormessage-value-missing="Lütfen geçerli bir şifre girin!" data-errormessage-type-mismatch="Invalid!" placeholder="Şifre" />
                          </div>
                      </div>
                      @Html.Hidden("returnUrl", @Request.QueryString)
                      <button class="btn btn-primary">Login Now</button>
                  </form><!--Login Form Ends--> 
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-sm-offset-6">
          
            <!--Social Icons-->
          
          </div>
        </div>
      </div>
    </div>

    <!--preloader-->
    <div id="spinner-wrapper">
      <div class="spinner"></div>
    </div>
    
    <!--Buy button-->

    <!-- Scripts
    ================================================= -->
	<script src="../../js/jquery-3.1.1.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/jquery.appear.min.js"></script>
	<script src="../../js/jquery.incremental-counter.js"></script>
	<script src="../../js/script.js"></script>
	<script src="../../js/parsley.js"></script>
	<script type="text/javascript">
	    $('#register_form').parsley();
	    $(function () {
	        $("#register_form").submit(function (evt) {
	            var self = $(this);
	            if($('#register_form').parsley().validationResult){
	                evt.preventDefault();
	                var url = $(this).attr('action');
	                var postData = $(this).serialize();
	                var email = $("#UserEmail").val();
	                var userName = $("#UserName").val();
	                var userFirstName = $("#UserFirstName").val();
	                var userSurname = $("#UserSurname").val();
	                var password = $("#UserPassword").val();
	                var userCity = $("#UserCity").val();
	                var userAbout = $("#UserAbout").val();
	                var userBirthDate = $("#UserBirthDate").val();
	                var userGender = $("#UserGender").val();
	                var RegisterViewModel = {
	                    Email: email,UserName:userName, UserFirstName: userFirstName, UserSurname: userSurname, Password: password,
	                    UserBirthDate: userBirthDate, UserAbout: userAbout, UserCity: userCity, UserGender: userGender, IsFirstLogin:true
	                };
	                $.post(url, RegisterViewModel, function (o) {

	                    if (o.Result == 1) {
	                        alert('kayıt başarılı');
	                        $("#register_pane").removeClass("active");
	                        $("#login_pane").addClass("active");
	                        $("#register").removeClass("active");
	                        $("#login").addClass("active");
	                    }
	                    else if (o.Result == 0) {
	                        alert('Kayıt başarısız');
	                    } else {
	                        $("#UserEmail").removeClass("parsley-success");
	                        $("#UserEmail").addClass("parsley-error");
	                        alert(o);
	                    }
	                }, 'json');
	            }
	        });
	    });
	    $("#login_form").submit(function (evt) {
	        var tokenKey = 'accessToken';
	        var self = $(this);
	        // evt.preventDefault();

	        var loginData = {
	            grant_type: 'password',
	            username: $("#loginEmail").val(),
	            password: $("#loginPassword").val()
	        };

	        $.ajax({
	            type: 'POST',
	            url: '/Token',
	            data: loginData
	        }).done(function (data) {
	            // Cache the access token in session storage.
	            sessionStorage.setItem(tokenKey, data.access_token);
	            var url = self.attr('action');
	            var postData = self.serialize();

	            $.post(url, postData, function (o) {
	            }, 'json');
	        }).fail(function () {
	            var url = self.attr('action');
	            var postData = self.serialize();

	            $.post(url, postData, function (o) {
	            }, 'json');
	        });
	    });

	</script>
	<script>
	    $(function () {
	        $("#UserBirthDate").datepicker({
	            yearRange: "-100:+0", // this is the option you're looking for
	            showOn: "both",
	            changeMonth: true,
	            changeYear: true,
	            dateFormat:"dd/mm/yy",
	            buttonImage: "templates/images/calendar.gif",
	            buttonImageOnly: true
	        });
	        $(".ui-datepicker-trigger").remove();
	    });
	</script>
	</body>

</html>
