@model IEnumerable<ScoutUp.Models.UserHobbies>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Hobbies.HobbiesName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.UserName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Hobbies.HobbiesName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.UserName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UserHobbiesID }) |
            @Html.ActionLink("Details", "Details", new { id=item.UserHobbiesID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UserHobbiesID })
        </td>
    </tr>
}

</table>
