@model Dictionary<ScoutUp.ViewModels.CategoryViewModel,List<ScoutUp.ViewModels.CategoryItemViewModel>>
    
@foreach (var item in Model)
{
    <div class="row" id="@String.Concat("category",@item.Key.CategoryId)"><h4>@item.Key.CategoryName</h4>
        <ul class="sidebyside">
    @foreach (var categories in item.Value)
    {
        <li>
            <div class=".col-md-1" style="margin-left:5px">
                <h5 style="text-align: center">@categories.CategoryItemName</h5>
                <img width="140" height="160"src="@categories.CategoryItemPhoto" />
                <div>
                    <div class="ratings">
                        <a href="#" data-id="@categories.CategoryItemId" title="1"><i class="rate fa fa-star"></i></a>
                        <a href="#" data-id="@categories.CategoryItemId" title="2"><i class="rate fa fa-star"></i></a>
                        <a href="#" data-id="@categories.CategoryItemId" title="3"><i class="rate fa fa-star"></i></a>
                        <a href="#" data-id="@categories.CategoryItemId" title="4"><i class="rate fa fa-star"></i></a>
                        <a href="#" data-id="@categories.CategoryItemId" title="5"><i class="rate fa fa-star"></i></a>
                    </div>
                </div>
            </div>
        </li>
    }
        </ul>
    </div>
}