@foreach (var item in Model)
{
    <div class="col-md-6 col-sm-6">
        <div class="friend-card">
            <img src="../../images/covers/1.jpg" alt="profile-cover" class="img-responsive cover" />
            <div class="card-info">
                <img src="../../images/users/user-3.jpg" alt="user" class="profile-photo-lg" />
                <div class="friend-info">
                    @if (item.UserFollowing == true)
                    {
                        if (item.id == ViewBag.userid)
                        {
                        <a id="stopfollow" href="@Url.Content("~/users/stopfollow/")@Request.Url.Segments[3].ToString()" class="pull-right text-green">Birbiriniz Takip Ediyorsunuz</a>
                        <h5><a href='@Url.Content("~/users/index/")@item.id' class="profile-link">@item.Name</a></h5>
                        }
                        else
                        {
                            <a id="stopfollow" href="@Url.Content("~/users/stopfollow/")@item.id" class="pull-right text-green">Takip Ediliyor</a>
                            <h5><a href='@Url.Content("~/users/index/")@item.id' class="profile-link">@item.Name</a></h5>
                        }
                    }
                    else
                    {
                        if (item.id == ViewBag.userid)
                        {
                        <a id="follow" href="@Url.Content("~/users/stopfollow/")@Request.Url.Segments[3].ToString()" class="pull-right text-green">Onu Takip Ediyorsun</a>
                        <h5><a href='@Url.Content("~/users/index/")@item.id' class="profile-link">@item.Name</a></h5>
                        }
                        else
                        {
                            <a id="follow" href="@Url.Content("~/users/follow/")@item.id" class="pull-right text-green">Takip Et</a>
                            <h5><a href='@Url.Content("~/users/index/")@item.id' class="profile-link">@item.Name</a></h5>
                        }
                    }
                    <p>Student at Harvard</p>
                </div>
            </div>
        </div>
    </div>
}
