@model ScoutUp.ViewModels.PostCommentViewModel

@foreach (var item in Model.PostCommentModel)
{
    <div class="post-comment" style="border-radius: 18px;background-color: #eff1f3">
        <img src="@item.UserProfilePhoto" alt="" class="profile-photo-sm"/>
        <a href="/users/index/@item.UserId" class="profile-link">@item.UserName @item.UserSurname</a> <i class="em em-laughing"> </i>
        <span>@item.PostComment</span>

    </div>
    <div>
        <span style="font-size: 11px">Commented at @item.PostCommentDate</span>
    </div>
}

@if (@Model.RemainingCommentCount > 0)
{
    <a data-id="@Model.PostId" class="yorum" href="#">Daha fazla yorum göster @Model.Count/@Model.CommentCount</a>
}
else
{
    <p>Yorumların tamamı yüklendi</p>
}