@model ScoutUp.Models.User
@Html.Partial("~/Views/Shared/header.cshtml")
    <!--Header End-->

    <div class="container">

      <!-- Timeline
      ================================================= -->
        @Html.Partial("~/Views/Shared/TimeLineMenu.cshtml")
     <!--Timeline Menu for Small Screens End-->

        </div>
        <div id="page-contents">
          <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-7">

              <!-- About
              ================================================= -->
              <div class="about-profile">
                <div class="about-content-block">
                  <h4 class="grey"><i class="ion-ios-information-outline icon-in-title"></i>Personal Information</h4>
                    <p>@Model.UserAbout</p>
                </div>
                <div class="edit-block">
                  <h4 class="grey"><i class="ion-ios-heart-outline icon-in-title"></i>Interests</h4>
                    <ul class="list-inline interests">
                        @foreach (var item in Model.UserHobbies)
                        {
                            <li>
                                @Html.DisplayFor(modelItem => item.Hobbies.HobbiesName)
                            </li>
                        }
                    </ul>
                    @Html.Action("Categories","Category")
                </div>
              </div>
            </div>
           @Html.Partial("~/Views/Shared/StickySideBar.cshtml")
          </div>
        </div>

@Html.Partial("~/Views/Shared/footer.cshtml")
<script>
    $("#about-link").addClass('active');
    function displayNumbers() {
        $.get({ url: "/users/followerCount/@Model.UserID", success: function (result) { $("#follower-count").text(result+" Takipçi"); } });
    }
    window.setInterval(function () {
        displayNumbers();
    }, 30000);
</script>
<script src="../../js/follow.js"></script>
<script>
    $(".rate").parent().mouseover(function () {
        var self = $(this);
        if(!self.hasClass("rated")){
        $(this).children().css("color", "orange");
        $(this).prevAll().children().css("color", "orange");
            }
    });
    $(".rate").mouseout(function () {
        $('.rate').removeAttr('style');
    });

    $("body").on("click", ".rate", function (e) {
        e.preventDefault();
        var self = $(this);
        self.parent().nextAll().children().removeClass('rated');
        self.parent().prevAll().children().addClass('rated');
        self.addClass('rated');
        var itemid= self.parent().attr('data-id');
        var rating = self.parent().attr('title');
        var RatingViewModel = { ItemId: itemid, Rating: rating };
        $.post("/users/addrating", RatingViewModel, function(e) {
            if (e.success) {
                alert("Puanınız kaydedildi.");
            } else {
                alert("Puanınız kaydedilirken bir hata oluştu.");
            }
        });
        //$.ajax({
        //    url: "/users/addrating",
        //    type: "POST",
        //    data: RatingViewModel,
        //    processData: false,
        //    contentType: false,
        //    success: function (data) {
        //        alert("puan eklendi");
        //    },
        //    error: function (data) {
        //        //if fails     
        //        alert("puan eklenemedi");
        //    }
        //});
    });
</script>