@model ScoutUp.Models.User
@Html.Partial("~/Views/Shared/header.cshtml")
        <div class="container">

            <!-- Timeline
            ================================================= -->
            @Html.Partial("~/Views/Shared/TimeLineMenu.cshtml")
    <!--Timeline Menu for Small Screens End-->

                </div>
                <div id="page-contents">
                    <div class="row">
                       @Html.Partial("~/Views/Shared/EditProfileMenu.cshtml")
                        <div class="col-md-7">
                            <!--
                            <!-- Edit Interests
                            =================================================
                            <div class="edit-profile-container">
                                <div class="block-title">
                                    <h4 class="grey"><i class="icon ion-ios-heart-outline"></i>My Interests</h4>
                                    <div class="line"></div>
                                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate</p>
                                    <div class="line"></div>
                                </div>
                                <div class="edit-block">
                                    <!-- Hobiler listeleniyor üzerine gelince çarpı işaret çıkması lazım daha sonra ilgilen
                                    <ul class="list-inline interests">
                                        @foreach (var item in Model.UserHobbies) {
                                        <li>
                                            <a href='@Url.Content("~/Users/delete/"+@item.UserHobbiesID)'> @Html.DisplayFor(modelItem => item.Hobbies.HobbiesName)</a>
                                        </li>
                                        }
                                        <li><a href="edit-profile-interests.html"><i class="icon ion-android-bicycle"></i> Bycicle</a></li>
                                    </ul>
                                    <div class="line"></div>
                                    <div class="row">
                                    <p class="custom-label"><strong>Add interests</strong></p>
                                    <!-- Hobi ekleme yeri
                                    <form id="interest-form" method="post" action='@Url.Content("~/users/EditProfileInterests/")'>
                                        <div class="form-group col-sm-8">
                                            <input id="HobbiesName" class="form-control input-group-lg" type="text" name="HobbiesName" title="Choose Interest" placeholder="Interests. For example, photography" />
                                        </div>
                                        <div class="form-group col-sm-4">
                                            <button class="btn btn-primary">Add</button>
                                        </div>
                                    </form>
                                    </div>
                                    </div>
                                    </div>
                                    </div>-->
                            @Html.Action("Categories","Category")
                                    <div class="col-md-2 static">

                                    Sticky Timeline Activity Sidebar
                          

                            @Html.Partial("~/Views/Shared/TimelineSidebar.cshtml")
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Scripts
        ================================================= -->
       @Html.Partial("~/Views/Shared/footer.cshtml")
<script src="../../Scripts/jquery.signalR-2.2.3.js"></script>
<script src="../../Scripts/jquery.signalR-2.2.3.min.js"></script>
<script src="../../signalr/hubs"></script>
        <script type="text/javascript">
            $(function () {
                var availableTag = [];
                var url = '@Url.Content("~/users/all")';
                var postData = $(this).serialize();
                $.get(url, function (o) {
                    for (i = 0; i < o.length; i++) {
                        availableTag.push(o[i].HobbiesName);
                    }
                }, 'json');
                $("#HobbiesName").tagit({
                    availableTags: availableTag,
                    allowDuplicates: false,
                    beforeTagAdded: function (event, ui) {
                        //tabloda olmayan hobiyi eklemesine izin verilmiyor.
                        if ($.inArray(ui.tagLabel, availableTag) == -1) {
                            return false;
                        }
                    }
                });
            });
        </script>
<script>
    $("#interests").addClass('active');
</script>
<script src="../../js/follow.js"></script>
<script src="../../Scripts/jquery.signalR-2.2.3.js"></script>
<script src="../../Scripts/jquery.signalR-2.2.3.min.js"></script>
<script src="../../signalr/hubs"></script>
<script>
    function displayNumbers() {
        $.get({ url: "/users/followerCount/@Model.UserID", success: function (result) { $("#follower-count").text(result+" Takipçi"); } });
    }
    window.setInterval(function () {
        displayNumbers();
    }, 30000);
</script>
<script src="../../js/follow.js"></script>
<script>
    $(".rate").parent().mouseover(function () {
        var self = $(this);
        if(!self.hasClass("rated")){
        $(this).children().css("color", "orange");
        $(this).prevAll().children().css("color", "orange");
            }
    });
    $(".rate").mouseout(function () {
        $('.rate').removeAttr('style');
    });

    $("body").on("click", ".rate", function (e) {
        e.preventDefault();
        var self = $(this);
        self.parent().nextAll().children().removeClass('rated');
        self.parent().prevAll().children().addClass('rated');
        self.addClass('rated');
        var itemid= self.parent().attr('data-id');
        var rating = self.parent().attr('title');
        var RatingViewModel = { ItemId: itemid, Rating: rating };
        $.post("/users/addrating", RatingViewModel, function(e) {
            if (e.success) {
                alert("Puanınız kaydedildi.");
            } else {
                alert("Puanınız kaydedilirken bir hata oluştu.");
            }
        });
        //$.ajax({
        //    url: "/users/addrating",
        //    type: "POST",
        //    data: RatingViewModel,
        //    processData: false,
        //    contentType: false,
        //    success: function (data) {
        //        alert("puan eklendi");
        //    },
        //    error: function (data) {
        //        //if fails
        //        alert("puan eklenemedi");
        //    }
        //});
    });
</script>