@model ScoutUp.Models.User
@Html.Partial("~/Views/Shared/header.cshtml")
    <!--Header End-->

    <div class="container">

      <!-- Timeline
      ================================================= -->
        @Html.Partial("~/Views/Shared/TimeLineMenu.cshtml")
      <!--Timeline Menu for Small Screens End-->

        </div>
        <div id="page-contents">
          <div class="row">
              @Html.Partial("~/Views/Shared/EditProfileMenu.cshtml")
            <div class="col-md-7">

              <!-- Basic Information
              ================================================= -->
              <div class="edit-profile-container">
                <div class="block-title">
                  <h4 class="grey"><i class="icon ion-android-checkmark-circle"></i>Kişisel Bilgilerinizi Düzenleyin</h4>
                  <div class="line"></div>
                  <div class="line"></div>
                </div>
                <div class="edit-block">
                  <form name="basic-info" id="basic-info" class="form-inline" method="post" action="@Url.Content("~/users/editprofilebasic/")" enctype="multipart/form-data">
                      @Html.AntiForgeryToken()
                      @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                   @*   @Html.HiddenFor(model => model.Id)*@
                    <div class="row">
                      <div class="form-group col-xs-6">
                        <label for="UserName">First name</label>
                          @Html.EditorFor(model => model.UserFirstName, new { htmlAttributes = new { @class = "form-control input-group-lg" } })
                          @Html.ValidationMessageFor(model => model.UserFirstName, "", new { @class = "text-danger" })
                      </div>
                      <div class="form-group col-xs-6">
                        <label for="UserSurname" class="">Last name</label>
                          @Html.EditorFor(model => model.UserSurname, new { htmlAttributes = new { @class = "form-control input-group-lg" } })
                          @Html.ValidationMessageFor(model => model.UserSurname, "", new { @class = "text-danger" })
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-xs-12">
                        <label for="UserEmail">My email</label>
                          @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control input-group-lg" } })
                          @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                      </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-6">
                            <label for="UserBirthDate"> Birth Date</label>
                            @Html.EditorFor(model => model.UserBirthDate, new { htmlAttributes = new { @class = "form-control input-group-lg" } })
                            @Html.ValidationMessageFor(model => model.UserBirthDate, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group gender">
                        <label for="UserGender"> Gender</label>
                        @Html.EnumDropDownListFor(model => model.UserGender, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.UserGender, "", new { @class = "text-danger" })
                    </div>
                    <div class="row">
                      <div class="form-group col-xs-6">
                        <label for="UserCity"> My city</label>
                          @Html.EditorFor(model => model.UserCity, new { htmlAttributes = new { @class = "form-control input-group-lg" } })
                          @Html.ValidationMessageFor(model => model.UserCity, "", new { @class = "text-danger" })
                      </div>
                      <div class="form-group col-xs-6">
                        <label for="country">My country</label>
                      </div>
                    </div>
                      <div class="row">
                          <div class="form-group col-xs-12">
                              <label for="UserAbout">About me</label>
                              <textarea id="UserAbout" name="UserAbout" class="form-control" placeholder="Some texts about me" rows="4" cols="400">@Model.UserAbout</textarea>
                          </div>
                      </div>
                      <div class="row">
                          <div class="form-group col-xs-12">
                              <label for="UserProfilePhoto">Profil Fotoğrafı</label>
                              <input id="UserProfilePhoto" name="UserProfilePhoto" class="form-control" type="file"/>
                          </div>
                      </div>
                      <input type="hidden" value="@Model.Id" name="Id" id="Id"/>
                    <button class="btn btn-primary">Save Changes</button>
                  </form>
                </div>
              </div>
            </div>
              
              <!--Sticky Timeline Activity Sidebar-->
                @Html.Action("UsersLastMoves", "Users", new { id = @Model.Id })
          </div>
        </div>
      </div>
    </div>


    <!-- Footer
    ================================================= -->
    @Html.Partial("~/Views/Shared/footer.cshtml")
<script src="../../Scripts/jquery.signalR-2.2.3.js"></script>
<script src="../../Scripts/jquery.signalR-2.2.3.min.js"></script>
<script src="../../signalr/hubs"></script>
      <script type="text/javascript"> $('#UserBirthDate').removeAttr("data-val-date");</script> 
<script>
    $("#basic-info").addClass('active');
</script>
<script src="../../js/follow.js"></script>
