@model ScoutUp.Models.User
@Html.Partial("~/Views/Shared/header.cshtml")
        <div class="container">

            <!-- Timeline
            ================================================= -->
            @Html.Partial("~/Views/Shared/TimeLineMenu.cshtml")
    <!--Timeline Menu for Small Screens End-->

                </div>
                <div id="page-contents">
                    <div class="row">
                       @Html.Partial("~/Views/Shared/EditProfileMenu.cshtml")
                        <div class="col-md-7">

                            <!-- Edit Interests
                            ================================================= -->
                            <div class="edit-profile-container">
                                <div class="block-title">
                                    <h4 class="grey"><i class="icon ion-ios-heart-outline"></i>My Interests</h4>
                                    <div class="line"></div>
                                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate</p>
                                    <div class="line"></div>
                                </div>
                                <div class="edit-block">
                                    <!-- Hobiler listeleniyor üzerine gelince çarpı işaret çıkması lazım daha sonra ilgilen-->
                                    <ul class="list-inline interests">
                                        @foreach (var item in Model.UserHobbies) {
                                        <li>
                                            <a href='@Url.Content("~/Users/delete/"+@item.UserHobbiesID)'> @Html.DisplayFor(modelItem => item.Hobbies.HobbiesName)</a>
                                        </li>
                                        }
                                        <li><a href="edit-profile-interests.html"><i class="icon ion-android-bicycle"></i> Bycicle</a></li>
                                    </ul>
                                    <div class="line"></div>
                                    <div class="row">
                                        <p class="custom-label"><strong>Add interests</strong></p>
                                        <!-- Hobi ekleme yeri-->
                                        <form id="interest-form" method="post" action='@Url.Content("~/users/EditProfileInterests/")'>
                                            <div class="form-group col-sm-8">
                                                <input id="HobbiesName" class="form-control input-group-lg" type="text" name="HobbiesName" title="Choose Interest" placeholder="Interests. For example, photography" />
                                            </div>
                                            <div class="form-group col-sm-4">
                                                <button class="btn btn-primary">Add</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 static">

                            <!--Sticky Timeline Activity Sidebar-->
                            @Html.Partial("~/Views/Shared/TimelineSidebar.cshtml")
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Scripts
        ================================================= -->
       @Html.Partial("~/Views/Shared/footer.cshtml")
        <script type="text/javascript">
            $(function () {
                var availableTag = [];
                var url = '@Url.Content("~/users/all")';
                var postData = $(this).serialize();
                $.get(url, function (o) {
                    for (i = 0; i < o.length; i++) {
                        availableTag.push(o[i].HobbiesName);
                    }
                }, 'json');
                $("#HobbiesName").tagit({
                    availableTags: availableTag,
                    allowDuplicates: false,
                    beforeTagAdded: function (event, ui) {
                        //tabloda olmayan hobiyi eklemesine izin verilmiyor.
                        if ($.inArray(ui.tagLabel, availableTag) == -1) {
                            return false;
                        }
                    }
                });
            });
        </script>
<script>
    $("#interests").addClass('active');
</script>
<script src="../../js/follow.js"></script>